---
const { title } = Astro.props;

const description =
	"Hack the Hill, Canada's Capital's premier flagship hackathon event, is presented by the University of Ottawa and Carleton University STEM Student Organizations. From March 3rd to 5th, 2023, come prepared to network and compete with the best!";

const url = import.meta.env.SITE.replace(/\/$/, "");
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="theme-color" content="#000000" />
		<title>{title}</title>

		<!-- Meta tags for SEO and social media -->
		<meta property="og:description" name="description" content={description} />
		<meta property="og:type" content="website" />
		<meta property="og:title" content={title} />
		<meta property="og:url" content={url} />
		<meta property="og:image" content={`${url}/favicon-196x196.png`} />
		<meta property="og:site_name" content="Hack the Hill" />
		<meta property="og:locale" content="en_US" />

		<!-- TWITTER SEO -->
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:site" content="@HackTheHiII" />
		<meta name="twitter:creator" content="@HackTheHiII" />
		<meta name="twitter:title" content={title} />
		<meta name="twitter:description" content={description} />
		<meta name="twitter:image" content={`${url}/favicon-196x196.png`} />
		<meta name="twitter:image:alt" content="Hack the Hill logo" />

		<!-- KEYWORDS -->
		<meta
			name="keywords"
			content="Ottawa Hackathon, Hackathon, Hack the Hill, Hackathon Ottawa, Hackathon Ontario, Hackathon Canada, Hackathon 2023, University of Ottawa, uOttawa, CSSA, IEEE uOttawa, SESA, ESS, Capital Hackathon, Canada's Capital Hackathon, International Hackathon, Hybrid Hackathon, Carleton, Carleton University"
		/>

		<!-- humans.txt -->
		<link type="text/plain" rel="author" href={`${url}/humans.txt`} />

		<!-- canonical -->
		<link rel="canonical" href={url} />

		<!-- sitemap -->
		<link rel="sitemap" type="application/xml" title="Sitemap" href={`${url}/sitemap-index.xml`} />

		<!-- robots.txt -->
		<link rel="robots" type="text/plain" title="Robots" href={`${url}/robots.txt`} />

		<!-- favicons for all devices -->
		<link rel="apple-touch-icon-precomposed" sizes="57x57" href={`${url}/icon/apple-touch-icon-57x57.png`} />
		<link rel="apple-touch-icon-precomposed" sizes="114x114" href={`${url}/icon/apple-touch-icon-114x114.png`} />
		<link rel="apple-touch-icon-precomposed" sizes="72x72" href={`${url}/icon/apple-touch-icon-72x72.png`} />
		<link rel="apple-touch-icon-precomposed" sizes="144x144" href={`${url}/icon/apple-touch-icon-144x144.png`} />
		<link rel="apple-touch-icon-precomposed" sizes="60x60" href={`${url}/icon/apple-touch-icon-60x60.png`} />
		<link rel="apple-touch-icon-precomposed" sizes="120x120" href={`${url}/icon/apple-touch-icon-120x120.png`} />
		<link rel="apple-touch-icon-precomposed" sizes="76x76" href={`${url}/icon/apple-touch-icon-76x76.png`} />
		<link rel="apple-touch-icon-precomposed" sizes="152x152" href={`${url}/icon/apple-touch-icon-152x152.png`} />
		<link rel="icon" type="image/png" href={`${url}/icon/favicon-196x196.png`} sizes="196x196" />
		<link rel="icon" type="image/png" href={`${url}/icon/favicon-96x96.png`} sizes="96x96" />
		<link rel="icon" type="image/png" href={`${url}/icon/favicon-32x32.png`} sizes="32x32" />
		<link rel="icon" type="image/png" href={`${url}/icon/favicon-16x16.png`} sizes="16x16" />
		<link rel="icon" type="image/png" href={`${url}/icon/favicon-128.png`} sizes="128x128" />
		<meta name="application-name" content="Hack the Hill" />
		<meta name="msapplication-TileColor" content="#FFFFFF" />
		<meta name="msapplication-TileImage" content={`${url}/icon/mstile-144x144.png`} />
		<meta name="msapplication-square70x70logo" content={`${url}/icon/mstile-70x70.png`} />
		<meta name="msapplication-square150x150logo" content={`${url}/icon/mstile-150x150.png`} />
		<meta name="msapplication-wide310x150logo" content={`${url}/icon/mstile-310x150.png`} />
		<meta name="msapplication-square310x310logo" content={`${url}/icon/mstile-310x310.png`} />
	</head>
	<body>
		<slot />
		<style is:global>
			@font-face {
				font-family: Rubik;
				src: url(/fonts/rubik/Rubik-Medium.ttf) format("truetype");
				font-weight: 500;
				font-weight: medium;
				font-display: swap;
			}

			@font-face {
				font-family: Rubik;
				src: url(/fonts/rubik/Rubik-Regular.ttf) format("truetype");
				font-weight: 400;
				font-weight: normal;
				font-display: swap;
			}

			@font-face {
				font-family: Rubik;
				src: url(/fonts/rubik/Rubik-SemiBold.ttf) format("truetype");
				font-weight: 600;
				font-weight: semi-bold;
				font-display: swap;
			}

			@font-face {
				font-family: Rubik;
				src: url(/fonts/rubik/Rubik-VariableFont_wght.ttf) format("truetype-variations");
				font-weight: 300 400 500 600 700 800 900;
				font-display: swap;
			}

			@font-face {
				font-family: Coolvetica;
				src: url(/fonts/coolvetica/coolvetica.otf) format("opentype");
				font-weight: 400;
				font-weight: normal;
				font-display: swap;
			}

			body {
				margin: 0;
				font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
					"Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
			}

			h1,
			h2,
			h3,
			h4,
			h5,
			h6 {
				margin: 0;
			}
		</style>
	</body>
</html>
