---
import fs from "fs/promises";
import path from "path";
import Navigation from "../components/Navigation/Navigation.jsx";
import Footer from "../components/Footer/Footer.jsx";

const { title } = Astro.props;

const description =
	"Hack the Hill, the organization behind Canada's Capital's premier flagship hackathon event & more. This Fall 2024, come prepared to network and compete with the best at Canada's Capital's largest hackathon!";

const keywords =
	"Ottawa Hackathon, Hackathon, Hack the Hill, Hackathon Ottawa, Hackathon Ontario, Hackathon Canada, Hackathon 2024, University of Ottawa, uOttawa, CSSA, IEEE uOttawa, SESA, ESS, Capital Hackathon, Canada's Capital Hackathon, International Hackathon, Hybrid Hackathon, Carleton, Carleton University";

const color = "#d70909";

let structuredData = {} as any;
try {
	structuredData = JSON.parse(await fs.readFile(path.resolve("./public/structured-data.json"), "utf-8"));
	structuredData.description = description;
	structuredData.keywords = keywords;
	structuredData.url = import.meta.env.SITE.replace(/\/$/, "");
	structuredData.image = `${import.meta.env.SITE.replace(/\/$/, "")}/Logos/hackthehill-logo.svg`;
} catch (error) {
	console.error(error);
}
const structuredDataString = JSON.stringify(structuredData);

const url = import.meta.env.SITE.replace(/\/$/, "");
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="theme-color" content={color} />
		<meta name="msapplication-TileColor" content={color} />
		<link rel="manifest" href={`${url}/site.webmanifest`} />
		<title>{title}</title>

		<!--- Google analytics tags  -->

		<script type="text/partytown" src="https://www.googletagmanager.com/gtag/js?id=G-7SJDSSNG3P"></script>
		<script type="text/partytown">
			window.dataLayer = window.dataLayer || [];
			function gtag() {
				dataLayer.push(arguments);
			}
			gtag("js", new Date());
			gtag("config", "G-7SJDSSNG3P");
		</script>

		<!-- Meta tags for SEO and social media -->
		<meta property="og:description" name="description" content={description} />
		<meta property="og:type" content="website" />
		<meta property="og:title" content={title} />
		<meta property="og:url" content={url} />
		<meta property="og:image" content={`${url}/favicon.ico`} />
		<meta property="og:site_name" content="Hack the Hill" />
		<meta property="og:locale" content="en_US" />

		<!-- TWITTER SEO -->
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:site" content="@hackthehill_" />
		<meta name="twitter:creator" content="@hackthehill_" />
		<meta name="twitter:title" content={title} />
		<meta name="twitter:description" content={description} />
		<meta name="twitter:image" content={`${url}/favicon.ico`} />
		<meta name="twitter:image:alt" content="Hack the Hill logo" />

		<!-- KEYWORDS -->
		<meta name="keywords" content={keywords} />

		<!-- humans.txt -->
		<link type="text/plain" rel="author" href={`${url}/humans.md`} />

		<!-- canonical -->
		<link rel="canonical" href={url} />

		<!-- sitemap -->
		<link rel="sitemap" type="application/xml" title="Sitemap" href={`${url}/sitemap-index.xml`} />

		<!-- robots.txt -->
		<link rel="robots" type="text/plain" title="Robots" href={`${url}/robots.txt`} />

		<!-- favicons for all devices -->
		<link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon.png" />
		<link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png" />
		<link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png" />
		<link rel="mask-icon" href="/icons/safari-pinned-tab.svg" color={color} />
		<link rel="shortcut icon" href="/favicon.ico" />
		<meta name="msapplication-TileColor" content={color} />
		<meta name="msapplication-config" content="/browserconfig.xml" />
		<meta name="theme-color" content={color} />

		<script type="application/ld+json" set:html={structuredDataString}></script>
	</head>
	<body>
		<Navigation client:load />
		<slot />
		<Footer client:load />
		<style is:global>
			@font-face {
				font-family: MonaSans;
				src: url(/fonts/MonaSans/MonaSans-Regular.ttf) format("truetype");
				font-weight: 300;
			}
			@font-face {
				font-family: MonaSans;
				src: url(/fonts/MonaSans/MonaSans-Medium.ttf) format("truetype");
				font-weight: 500;
			}
			@font-face {
				font-family: MonaSans;
				src: url(/fonts/MonaSans/MonaSans-SemiBold.ttf) format("truetype");
				font-weight: 600;
			}
			@font-face {
				font-family: MonaSans;
				src: url(/fonts/MonaSans/MonaSans-Bold.ttf) format("truetype");
				font-weight: 700;
			}
			html,
			body {
				margin: 0;
				font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
					"Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
				width: 100%;
				overflow-x: hidden;
			}

			h1,
			h2,
			h3,
			h4,
			h5,
			h6 {
				margin: 0;
			}
		</style>
	</body>
</html>
